body {
  font-family: "Lato", sans-serif;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-size: cover;
}
body img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Membuat gambar di belakang konten */
  opacity: 0.8; /* Menetapkan opasitas 50% */
  filter: blur(0.1px);
}
.judul {
  font-family: "Lato", sans-serif;
  margin-top: -450px;
  text-align: center;
  position: relative;
  left: 310px;
  color: antiquewhite;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
}
.judul1 {
  margin-top: -355px;
  position: relative;
  left: 25px;
  color: antiquewhite;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
}
.container {
  background: #453eba;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  width: 350px;
  height: 280px;
  text-align: center;
  margin-top: 50px;
  position: relative;
  right: 300px;
  opacity: 0.8; /* Menetapkan opasitas 50% */
  filter: blur(0.1px);
}
.container h1 {
  color: antiquewhite;
  font-family: "Lato", sans-serif;
}
.container h2 {
  margin-top: -15px;
  margin-bottom: 50px;
  color: antiquewhite;
}
form {
  text-align: center;
  color: antiquewhite;
}
input {
  border-radius: 5px;
  background-color: antiquewhite;
}
button {
  margin-top: 30px;
  height: 35px;
  width: 200px;
  border-radius: 5px;
  background-color: #00d4ff;
  color: antiquewhite;
  border: none;
}
button:hover {
  background-color: grey;
}
